---
layout: page
---

{% capture scalaLink %}https://scalacenter.github.io/scala-advent-of-code{%- if page.year != 2021 -%}/{{page.year}}{%- endif -%}/puzzles/day{{page.day}}{% endcapture %}
{% capture newContent %}
    <h2>Puzzle Description</h2>

    <a href="https://adventofcode.com/{{page.year}}/day/{{page.day}}">Advent of Code {{page.year}}, Day {{page.day}}</a>

    {% if page.year >= 2021 %}
    <h2>Scala Center Page</h2>
 
    
    <a href="{{scalaLink}}">Scala Center Advent of Code {{page.year}}, Day {{page.day}}</a>
    {% endif %}
    {{ content }}
{% endcapture %}

<div id="table-of-contents">
    {{ newContent | toc_only }}
</div>
<div id="markdown-content">
    {{ newContent | inject_anchors }}
</div>
