#sidebar .nav-list li.nav-header.level1 {
    color: var(--primary-color);
}

:root {
    --messages-info: #4636d8;
    --messages-info-light: #211d47;
    --messages-info-text: #8880e5;
}

.callout.info {
    color: var(--messages-info-text);
}

@font-face {
    font-family: jlm_cmr10;
    src:url("./fonts/jlm_cmr10.woff2") format("woff2");
}

@font-face {
    font-family: jlm_cmmi10;
    src:url("./fonts/jlm_cmmi10.woff2") format("woff2");
}

@font-face {
    font-family: jlm_cmsy10;
    src:url("./fonts/jlm_cmsy10.woff2") format("woff2");
}

@font-face {
    font-family: jlm_cmex10;
    src:url("./fonts/jlm_cmex10.woff2") format("woff2");
}

svg * {
    fill: var(--primary-color) !important;

}